---
import Container from "./Container.astro";

---

<div id="solution">
    <Container>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-sky-500">
        <path fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z" clip-rule="evenodd" />
        <path fill-rule="evenodd" d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z" clip-rule="evenodd" />
      </svg>
      
      <div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="md:5/12 lg:w-1/2">
          <div class="grid grid-cols-2 gap-4">
            <div class="rounded-lg overflow-hidden"><img src="/images/inverter2.png"/></div>
            <div class="rounded-lg overflow-hidden"><img src="/images/inverter1.png"/></div>
            <div class="rounded-lg overflow-hidden"><img src="/images/switchgear.png"/></div>
            <div class="rounded-lg overflow-hidden"><img src="/images/panelboard.png"/></div>
          </div>
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
            Innovating for a Brighter Tomorrow
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            ThermoSpot X is not just a company; we are a movement towards smarter, more sustainable solar solutions. Powered by a team of AI experts and driven by innovation, we deliver solutions that transform the solar landscape
          </p>
          <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
            <div class="mt-8 flex gap-4 md:items-center">
              <!-- <div class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 m-auto text-indigo-500 dark:text-indigo-400">
                  <path fill-rule="evenodd" d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 01-3.476.383.39.39 0 00-.297.17l-2.755 4.133a.75.75 0 01-1.248 0l-2.755-4.133a.39.39 0 00-.297-.17 48.9 48.9 0 01-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97zM6.75 8.25a.75.75 0 01.75-.75h9a.75.75 0 010 1.5h-9a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H7.5z" clip-rule="evenodd" />
                </svg>        
              </div> -->
              <svg width="50" height="50" viewBox="0 0 1024 1024" class="icon"  version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M696.2 411.6C498.7 368.3 660.6 94.4 390 117.1s-527.2 645.8-46.8 791.7 727.9-414.9 353-497.2z" fill="#464BD8" /><path d="M391.4 235.6l-98.6 501.9V235.6zM407 235.6L303.8 761l-11-2.2v-21.3l98.6-501.9z" fill="#2E2E42" /><path d="M421.1 235.6l1.4 0.3L318.8 764l-15-3L407 235.6z" fill="#2D2D41" /><path d="M318.831263 764.004291l103.752737-528.002821 15.012903 2.95004L333.844166 766.954332z" fill="#2D2D40" /><path d="M333.78964 766.951693l103.752737-528.002821L452.55528 241.898912 348.802543 769.901734z" fill="#2C2C3F" /><path d="M348.846315 769.916588l103.752736-528.002821L467.611954 244.863807 363.859218 772.866629z" fill="#2B2B3E" /><path d="M363.805673 772.863183l103.752736-528.002821 15.012903 2.95004L378.818576 775.813224z" fill="#2A2A3D" /><path d="M378.862174 775.829867l103.752736-528.002822 15.012903 2.950041L393.875077 778.779907z" fill="#2A2A3C" /><path d="M393.820725 778.77548l103.752736-528.002821 15.012903 2.95004L408.833628 781.725521z" fill="#29293B" /><path d="M408.780083 781.722075l103.752736-528.002822 15.012903 2.950041L423.792986 784.672116z" fill="#28283A" /><path d="M423.855057 784.589654l103.752737-528.002822 15.012903 2.950041L438.86796 787.539694z" fill="#282839" /><path d="M438.814416 787.536248l103.752736-528.002821 15.012903 2.95004L453.827319 790.486289z" fill="#272738" /><path d="M453.871897 790.502125l103.752737-528.002822 15.012903 2.950041L468.8848 793.452165z" fill="#262637" /><path d="M468.828486 793.449353l103.752736-528.002822 15.012903 2.950041L483.841389 796.399393z" fill="#252536" /><path d="M483.885968 796.415229l103.752736-528.002822 15.012903 2.950041L498.898871 799.365269z" fill="#252534" /><path d="M498.844519 799.360842l103.752736-528.002821 15.012903 2.95004L513.857422 802.310883z" fill="#242433" /><path d="M513.902 802.326719l103.752737-528.002822 15.012903 2.950041L528.914903 805.276759z" fill="#232332" /><path d="M528.860377 805.274121l103.752737-528.002822 15.012903 2.950041L543.87328 808.224161z" fill="#222231" /><path d="M543.917052 808.239016l103.752736-528.002822 15.012903 2.950041L558.929955 811.189056z" fill="#222230" /><path d="M558.875429 811.186418l103.752736-528.002822 15.012903 2.950041L573.888332 814.136458z" fill="#21212F" /><path d="M573.932911 814.152294l103.752736-528.002822 15.012903 2.950041L588.945814 817.102334z" fill="#20202E" /><path d="M588.891462 817.097907l103.752736-528.002821 15.012903 2.95004L603.904365 820.047948z" fill="#20202D" /><path d="M603.947962 820.064591l103.752736-528.002822 15.012903 2.950041L618.960865 823.014631z" fill="#1F1F2C" /><path d="M618.90732 823.011186l103.752737-528.002822L737.67296 297.958405 633.920223 825.961226z" fill="#1E1E2B" /><path d="M633.964802 825.977062l103.752736-528.002822L752.730441 300.924281 648.977705 828.927102z" fill="#1D1D2A" /><path d="M752.7 300.8l15 2.9-103.2 525.4h-14.1l-1.5-0.3z" fill="#1D1D29" /><path d="M767.7 303.7l11 2.2v21.3l-98.6 501.9h-15.6zM680.1 829.1l98.6-501.9v501.9z" fill="#1C1C28" /><path d="M646 807.5c-1.6 0-3.2-0.2-4.8-0.5l-307-60.3c-6.4-1.3-12-4.9-15.6-10.4-3.6-5.4-5-12-3.7-18.4l86.6-441c2.3-11.5 12.3-19.8 24-19.8 1.6 0 3.2 0.2 4.8 0.5l307 60.3c13.3 2.6 21.9 15.5 19.3 28.7l-86.6 441c-2.3 11.6-12.4 19.9-24 19.9z" fill="#FFFFFF" /><path d="M646 807.5c-1.6 0-3.2-0.2-4.8-0.5l-307-60.3c-6.4-1.3-12-4.9-15.6-10.4-3.6-5.4-5-12-3.7-18.4l86.6-441c2.3-11.5 12.3-19.8 24-19.8 1.6 0 3.2 0.2 4.8 0.5l307 60.3c13.3 2.6 21.9 15.5 19.3 28.7l-86.6 441c-2.3 11.6-12.4 19.9-24 19.9z" fill="#FFFFFF" /><path d="M640.2 793.7c-1.4 0-2.8-0.1-4.2-0.4l-269.8-53c-5.6-1.1-10.5-4.3-13.7-9.1-3.2-4.8-4.4-10.5-3.2-16.2l76.1-387.5c2-10.1 10.8-17.4 21.1-17.4 1.4 0 2.8 0.1 4.2 0.4l269.8 53c11.6 2.3 19.3 13.6 17 25.3l-76.1 387.5c-2.1 10.1-10.9 17.4-21.2 17.4z" fill="#2AEFC8" /><path d="M674.4 274.5c1.4-2.7 2.6-5.6 3.2-8.8 3.6-17.8-8.1-35.1-25.9-38.6l-90.4-17.8c-17.8-3.5-35.1 8.1-38.6 25.9-0.6 3.1-0.6 6.1-0.4 9.1-24.4-3-45.2 4.5-48.4 21.2l234.2 47.6c3.2-16-11.6-31.6-33.7-38.6z" fill="#514DDF" /><path d="M708.1 322.1c-0.6 0-1.2-0.1-1.8-0.2l-234.1-47.6c-4.8-1-7.9-5.7-7-10.5 3.6-18.6 22.6-30 48.6-29.1 0.1-0.4 0.1-0.8 0.2-1.3 4.4-22.6 26.5-37.4 49.1-33l90.4 17.8c11 2.2 20.5 8.5 26.7 17.8 6.2 9.3 8.4 20.4 6.2 31.3-0.1 0.6-0.3 1.2-0.4 1.9 21.9 9.9 34.4 27.8 30.9 45.6-0.5 2.3-1.8 4.4-3.8 5.7-1.5 1.1-3.3 1.6-5 1.6z m-220.4-62.8L697.9 302c-3.7-7.7-13.3-14.9-26.2-19-2.5-0.8-4.5-2.7-5.6-5.1-1-2.4-0.9-5.2 0.3-7.5 1.2-2.4 2-4.4 2.4-6.3 1.3-6.3 0-12.6-3.6-17.9-3.6-5.3-9-9-15.3-10.2l-90.4-17.8c-13-2.5-25.5 5.9-28.1 18.9-0.4 1.9-0.4 4-0.2 6.6 0.2 2.7-0.8 5.3-2.7 7.2-1.9 1.9-4.6 2.7-7.3 2.4-14.5-1.9-26.8 0.5-33.5 6z" fill="#29293A" /><path d="M602 269.5c-8.3-1.6-13.6-9.6-12-17.9 1.6-8.3 9.6-13.6 17.9-12 8.3 1.6 13.6 9.6 12 17.9-1.7 8.3-9.7 13.6-17.9 12z" fill="#FFFFFF" /><path d="M550.515 420.205l150.843 31.03-2.62 12.734-150.843-31.03zM428.579 445.695l262.8 54.062-2.62 12.734-262.8-54.063zM418.577 494.19l262.8 54.063-2.62 12.734-262.8-54.063zM408.596 542.589l262.8 54.062-2.62 12.734-262.8-54.063zM398.595 591.085l262.8 54.062-2.62 12.734-262.8-54.063zM388.009 642.725l188.651 38.81-2.62 12.733-188.65-38.81z" fill="#514DDF" /></svg>
              <div class="w-5/6">
                <h3 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">Construction Insights</h3>
                <p class="text-gray-500 dark:text-gray-400">Site intelligence for monitoring and compliance</p>
              </div> 
            </div> 
            <div class="pt-4 flex gap-4 md:items-center">
              <!-- <div class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20">  
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 m-auto text-teal-600 dark:text-teal-400">
                  <path fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
                </svg>                                      
              </div> -->
              <svg width="50" height="50" viewBox="0 0 1024 1024" class="icon"  version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M732.1 399.3C534.6 356 696.5 82.1 425.9 104.8s-527.2 645.8-46.8 791.7 728-415 353-497.2z" fill="#464BD8" /><path d="M417.1 836.3c-21.5 0-42.3-6.4-60.2-18.4l-23.2-15.5c-49.5-33.3-62.8-100.7-29.5-150.2l184.6-275 40.9 27.5c0.8 0.5 1.7 0.8 2.6 0.8 0.3 0 0.6 0 0.9-0.1 1.2-0.2 2.3-1 3-2l45.2-67.4 111.4 74.8-45.2 67.4c-0.7 1-1 2.3-0.7 3.5 0.2 1.2 1 2.3 2 3l42.7 28.6S506.8 788.6 506.8 788.7a107.98 107.98 0 0 1-89.7 47.6z" fill="" /><path d="M553.56 414.139l33.384-49.736 77.55 52.053-33.383 49.735z" fill="#FFFFFF" /><path d="M570.586 425.432l24.738-36.87 60.536 40.617-24.738 36.87z" fill="#514DDF" /><path d="M385.8 810.1c1.1-4.9 3-9.7 6-14.2a43.93 43.93 0 0 1 60.9-12c6.4 4.3 11 10 14.3 16.4a88.04 88.04 0 0 1-81.2 9.8z" fill="#FFFFFF" /><path d="M490.1 777c-1.3 1.9-2.7 3.7-4.1 5.5a68.49 68.49 0 0 0-19.2-19.5 69.13 69.13 0 0 0-95.8 18.8c-3.4 5-5.9 10.3-7.8 15.7l-18.1-12.1c-40.2-27.1-51-81.6-24-121.9l173.3-258.2 169 113.4L490.1 777z" fill="#FFFFFF" /><path d="M478.7 760.9c-1 1.5-2.2 3-3.3 4.4-3.9-6-9.1-11.3-15.4-15.6a55.32 55.32 0 0 0-76.7 15.1c-2.7 4-4.7 8.3-6.2 12.6l-14.5-9.7a70.43 70.43 0 0 1-19.2-97.6l138.8-206.8 135.4 90.9-138.9 206.7z" fill="#2AEFC8" /><path d="M733.1 411.2c-0.2-0.2-0.4-0.4-0.7-0.5l-169-113.4c-0.2-0.2-0.5-0.3-0.7-0.4L546.4 286l23.1-34.4c20.2-30 53.8-47.9 90-47.9 21.5 0 42.3 6.4 60.2 18.4l23.2 15.5c49.5 33.3 62.8 100.6 29.5 150.2l-23.1 34.4-16.2-11z" fill="" /><path d="M586.4 262.9c27.1-40.2 81.6-51 121.9-24l23.2 15.5c40.2 27.1 50.9 81.6 24 121.9l-11.7 17.4-169-113.4 11.6-17.4z" fill="#FFFFFF" /><path d="M715.1 265.2a87.88 87.88 0 0 0-121.9 24l-1.6 2.5 152.2 102.2 11.7-17.4a86.87 86.87 0 0 0 14.4-57.4c-6.4-15-17.1-28.5-31.6-38.3l-23.2-15.6z" fill="#2AEFC8" /></svg>
              <div class="w-5/6">
                <h3 class="font-semibold text-lg text-gray-700 dark:text-teal-300">Advanced Monitoring</h3>
                <p class="text-gray-500 dark:text-gray-400">Thermal analysis to detect inefficiencies</p>
              </div> 
            </div> 
          </div>
        </div>
      </div>
    </Container>
</div>
